.CreateNewChallenge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.CreateNewChallenge form {
  width: 100%;
  max-width: 600px;
}

.CreateNewChallenge h2 {
  text-align: center;
  color: var(--darkblue);
  font-size: var(--l);
  margin-bottom: 20px;
}

.CreateNewChallenge .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
  transform: translateX(8%);
}

.CreateNewChallenge .form-label {
  margin-bottom: 5px;
  text-align: left;
  font-size: var(--m);
  color: var(--darkblue);
}

.CreateNewChallenge input,
.CreateNewChallenge textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--medblue);
  border-radius: 4px;
  font-size: var(--m);
  color: var(--darkblue);
  background-color: var(--blue);
  margin: 0;
}

.CreateNewChallenge input {
  padding: 20px;
}

.CreateNewChallenge textarea {
  padding: 60px;
}

.CreateNewChallenge button {
  width: auto;
  padding: 10px;
  background-color: var(--medblue);
  border: none;
  border-radius: 4px;
  color: var(--white);
  font-size: var(--m);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.CreateNewChallenge button:hover {
  background-color: var(--darkblue);
}
