.NavBar-container {
  display: flex;
  justify-content: space-between; /* Ensures space between title and tabs */
  align-items: center; /* Vertically centers the items */
  padding: var(--s) var(--m);
}

.NavBar-title {
  color: var(--red);
  font-size: var(--xl);
  font-family: "Bevan";
  font-style: italic;
  font-weight: bold;
}

.NavBar-linkContainer {
  margin-left: auto; /* Moves the link container to the right */
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--medblue);
  opacity: 0.6;
  text-decoration: none;
  font-size: var(--m);
  margin-right: var(--xl);
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
  color: black;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}
