.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--m) var(--l);
}

.NavBar-title {
  font-family: "Bevan", sans-serif;
  font-size: var(--xl);
  font-weight: bold;
  font-style: italic;
  color: var(--red);
}

.NavBar-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto; /* Moves all links to the right */
}

.NavBar-link,
.NavBar-link:visited {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  margin-right: var(--xl);
  color: var(--medblue);
  font-size: var(--m);
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
  color: black;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}
